/* CSS for the calculator */
#calculator {
    width: 268px;
    height: 385px;
    background-color: #17202A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .output {
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 50px;
    color: #333;
    overflow: hidden;
  }
  
  .output-value {
    float: left;
  }
  
  .keypad {
    margin-top: 20px;
  }
  /* #key-equal {
    background-color: #FFC300;
    border: 40px;
  } */
  /* .key {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  } */
  #key-clear {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-sign {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-percentage {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-divide {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ABB2B9;
    border: 1px solid #ABB2B9;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-7 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-8 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-9 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-multiply {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ABB2B9;
    border: 1px solid #ABB2B9;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-4 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-5 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-6 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-subtract {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ABB2B9;
    border: 1px solid #ABB2B9;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-1 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-2 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-3 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-add {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ABB2B9;
    border: 1px solid #ABB2B9;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-decimal {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-0 {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-delete {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }
  #key-equals {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #FFC300;
    border: 1px solid #FFC300;
    border-radius: 3px;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 4px 4px 0;
  }